<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit a Todo item:</h1>
    <form method="POST">
        <!-- CSRF ensures the data is coming from the website to the database and not spoofed -->
        {% csrf_token %}
        <!-- Django as_p displays form elements as paragraphs -->
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit">Update Item</button>
            </p>
        </div>
    </form>
</body>
</html>